<script type="text/javascript" src="#springUrl('/app/hr/attResult.js')"></script>
<script type="text/javascript" >

	Ext.onReady(function(){
		var attendanceTab = new com.zz91.zzwork.hr.AttendanceTable({
			region:"center",
			split:true,
			height:350
		});
		var viewport = new Ext.Viewport({
			layout:"border",
			items:
			[attendanceTab]
		});
	});

	
</script>