<style >
div {margin-top:10px;}
</style>


<div style="padding:20px;">
	#if("error"==1)
		<div style="colr:red" >日期填写不正确</div>
	#end
<form action="#springUrl('/hr/attendance/doImpt.htm')" enctype="multipart/form-data" method="post">

<div >
    开始时间：<input name="from" id="from" ></input>
	结束时间：<input name="to" id="to" ></input>
	<div style="color:red;">格式： 2012-01-01</div>
</div>

<div>
	考勤数据：<input type="file" name="uploadfile" />
</div>

<div>
<input type="submit" value="确认所填信息无误，并提交" style="width:200px;height:24px;" />
</div>
</form>
</div>
	
